{% extends "layout.html" %}

{% block content %}
<div class="text-above-form index-page">
    <h2 style="padding-bottom: 2rem;">your journal.</h2>
    <p>Welcome to Your Journal Site - an online sanctuary for your thoughts, musings, and inspirations. This platform offers a private space for self-expression and a user-friendly interface for effortless journaling.</p>
    <hr style="padding-top: 2rem; padding-top: 2rem;">
    <p>Your entries are secure, encrypted, and accessible only to you. Embrace this haven to pour your heart out, free from judgment. Your Journal Site is your trusted companion on your journey of self-discovery and personal growth.</p>

</div>

{% endblock %}